# Bruteforcer config for innocent.jpg.hqx (to use with scripts/bruteforce.py)
# All lines starting with # will be ignored
# This line will tell bruteforcer to try every character from <charset> on speified position
# <line_number>:<row_number> - <charset>
# This line will try all of 64 possible characters:
# <line_number>:<row_number> - ?

# List of HQX allowed symbols: 
# !"#$%&'()*+,-012345689@ABCDEFGHIJKLMNPQRSTUVXYZ[`abcdefhijklmpqr

# DQT
28:20 - ?
28:35 - ?
28:44 - 1l`
# 28:51 - !lj1
# 28:52 - `'"
# 29:51 - ?
# 29:52 - ?
# 29:59 - ?

# DHT
35:4 - 1liI
35:27 - "'`
36:5 - "'`

# ScanData:
43:61 - `'
55:51 - *
